<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/dist/output.css">
</head>




<body>

  <nav class="bg-blue-100">
    <a href="#" class="text-blue-500 hover:text-blue-700">Home</a>
    <a href="#" class="text-blue-300 hover:text-blue-500">About</a>
    <a href="#" class="text-blue-200 hover:text-blue-400">Services</a>
  </nav>

  <style type="text/css">
    .my_cover{
      width: 100%;
      height: 100px;
    }
    .container{
      width: 100%;
      height: 500px;
      position: relative;
    }
    .container a {
      position: absolute;
      left: 30%;
      top: 15%;
      background: black;
      color: white;
      text-decoration: none;
    }

  </style>

  <div class = "container">
    <img class = "my_cover" src="/static/vecteezy_luxury-golden-arabic-calligraphy-lettering-al-ahzab-33-21_6880001.jpg">
  </div>


  <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
</body>
</html>