<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/dist/output.css">
</head>



<body>
  <nav class="bg-blue-100">
    <a href="#" class="text-blue-500 hover:text-blue-700">Home</a>
    <a href="#" class="text-blue-300 hover:text-blue-500">About</a>
    <a href="#" class="text-blue-200 hover:text-blue-400">Services</a>
  </nav>

  <div class="w-full h-64 overflow-hidden relative">
    <img 
      src="/static/alahzab33-21.jpg"
      class="w-full h-full object-cover object-center"
    >
  </div>





  <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
</body>
</html>