<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/dist/output.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>



<body class="bg-gray-100 font-sans antialiased overflow-hidden" 
      x-data="{ sidebarOpen: true, rightPanelOpen: false }">
  
  
<p>wassup</p>

  <br>

  <div class="w-full h-64 overflow-hidden relative">
    <img 
      src="/static/images/ismillah.jpg"
      class="w-full h-full object-cover object-center"
    >
  </div>





  <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
</body>
</html>